/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
*.idea
/.idea
/.vscode
*.vscode
/public/css/buttons.css
/public/css/buttons.map
/public/js/resources_js_*_vue.js
/public/sitemap.xml
