@tailwind base;
@tailwind components;
@tailwind utilities;

.w-content {
    @apply max-w-xl md:max-w-4xl mx-auto px-4 lg:px-0;
}

h1 {
    @apply text-2xl mb-1.5 font-medium;
}

.content {
    @apply mt-16 lg:mt-24 flex pb-12;
}

.theme-switch {
    @apply rounded px-1 py-0.5 focus:ring-1 cursor-pointer;
    @apply dark:text-neutral-100 dark:bg-amber-500 dark:hover:bg-yellow-500 dark:focus:ring-emerald-500;
    @apply text-neutral-900 bg-blue-500 hover:bg-sky-300 focus:ring-cyan-500;
}
.menu-toggle {
    @apply ml-2 rounded px-1 py-0.5 focus:ring-1 cursor-pointer border lg:hidden;
    @apply bg-white          text-slate-700      border-slate-300        ring-offset-slate-50;
    @apply dark:bg-slate-700 dark:text-slate-200 dark:border-transparent dark:ring-offset-slate-900;
}
.sidebar {
    @apply hidden lg:block;
    @apply w-full lg:pr-6 max-w-[13rem] absolute lg:static z-20 top-0 left-0 h-screen lg:h-auto;
    @apply bg-neutral-100 dark:bg-neutral-900 lg:bg-transparent dark:lg:bg-transparent;
    @apply border-r lg:border-0 border-neutral-900/10 dark:border-neutral-100/10;
}
.open {
    @apply block #{!important};
}
.overlay {
    @apply absolute w-full h-full bg-slate-800/80 z-10 lg:hidden;
}
nav {
    @apply w-full lg:sticky lg:top-16 overflow-auto;
    @apply lg:border-r border-neutral-900/10 dark:border-neutral-100/10;

    a {
        @apply block pb-2 pt-1.5 px-2 cursor-pointer select-none;

        &:hover {
            @apply bg-slate-300;
            @apply dark:bg-slate-700;
        }
        &.active {
            @apply font-semibold;
            @apply bg-slate-200;
            @apply dark:bg-slate-800;
        }
        &.active, &:hover {
            @apply border-r-4 dark:border-sky-300 border-green-600;
        }
        &.sub {
            &.active, &:hover {
                @apply font-medium;
                @apply bg-slate-300;
                @apply dark:bg-slate-700;
            }
        }
    }
}
main {
    @apply w-full px-8 py-6 mt-6 lg:mt-0 border border-neutral-900/10 dark:border-neutral-100/10 shadow-md dark:shadow dark:shadow-cyan-500/50;
}

header {
    @apply fixed w-full z-20 top-0 py-4 border-b border-gray-500/50 bg-neutral-100 dark:bg-neutral-900;
    .w-content {
        @apply flex justify-between;
    }
}

ul.socials {
    @apply max-w-[15rem] mx-auto mt-2;
    li {
        @apply py-2;
        a {
            @apply block text-center;
        }
    }
}

.site-title {
    @apply text-xl font-medium;
}

body {
    @apply flex flex-col min-h-screen overflow-auto;
}

#app {
    @apply min-h-screen;
    @apply bg-neutral-100       text-neutral-900;
    @apply dark:bg-neutral-900  dark:text-neutral-100;
}

@import "forms";

@media (min-width: 1280px) {
    #StandWithUkraine {
        position: absolute;
        top: 1rem;
        right: 1rem;
        z-index: 100;
    }
}
.pagination {
    @apply mt-6 lg:mt-8 px-4 flex flex-wrap justify-center mx-auto;

    a, span {
        @apply px-2 py-1 text-center bg-slate-200 dark:bg-slate-800;
        min-width: 2.125rem;

        &.disabled {
            //@apply text-gray-400;
        }
        &.current {
            @apply font-bold bg-slate-300 dark:bg-slate-700;
        }
        &:hover:not(.disabled):not(.current) {
            @apply bg-slate-300 dark:bg-slate-700;
        }
    }
}

.git {
    .packages-card {
        @apply sm:flex;
    }

    //@apply border p-2 mb-4 rounded-sm border-neutral-900/10 dark:border-neutral-100/10 shadow dark:shadow-sm;
    @apply border mb-4 sm:mb-6 rounded-sm border-neutral-900/10 dark:border-neutral-100/10 shadow dark:shadow-sm;
    .title {
        @apply text-lg font-medium mb-1 p-2;
        //@apply text-sky-600 dark:text-sky-400;
        //@apply hover:text-blue-700 hover:text-blue-300;
    }
    .box {
        @apply sm:w-48 text-sm text-gray-900 bg-white border border-gray-200 dark:bg-gray-700 dark:border-gray-600 dark:text-white;

        div {
            @apply w-full px-4 py-2 border-b border-gray-200 dark:border-gray-600;

            &.item {
                @apply flex justify-between;
            }

            &:last-child {
                @apply border-b-0;
            }
        }
    }
    a {
        @apply block text-center w-full px-4 py-2 border-gray-200 dark:border-gray-600 text-gray-900 bg-white hover:bg-gray-100 hover:text-blue-700 dark:bg-gray-800 dark:text-gray-400 dark:hover:text-white dark:hover:bg-gray-700;
    }
}
.tags {
    span {
        @apply inline-block bg-gray-200 text-gray-800 text-xs font-medium inline-flex items-center px-2.5 pt-0.5 pb-1 rounded mr-2 mt-2 dark:bg-gray-700 dark:text-gray-300;

        &.danger {
            @apply bg-red-100 text-red-800 dark:bg-red-200 dark:text-red-900;
        }
    }
}

.star {
    @apply text-amber-500 dark:text-amber-400;
}
.star-bg {
    @apply text-neutral-300 dark:text-neutral-500;
}
