.btn {
    @apply px-2 py-1 border rounded-md shadow-sm ring-2 ring-offset-1 ring-blue-500/50 hover:ring-blue-500;
    @apply bg-white          text-slate-700      border-slate-300        ring-offset-slate-50;
    @apply dark:bg-slate-700 dark:text-slate-200 dark:border-transparent dark:ring-offset-slate-900;
    &:hover:not([disabled]) {
        @apply hover:bg-slate-100;
        @apply dark:hover:bg-slate-600;
    }
    &:disabled {
        @apply ring-0;
    }
}

.form-list {
    @apply pr-2 mb-1;

    label {
        @apply inline-flex items-center w-full;
    }

    input[type=checkbox] {
        @apply mr-2 rounded border-gray-300 shadow-sm focus:ring focus:ring-offset-0 cursor-pointer;
        @apply text-blue-600 focus:border-blue-300 focus:ring-blue-500/50;
    }
}

.radio {
    @apply block px-2 ml-4 mb-1;

    input[type=radio] {
        @apply border-gray-300 text-blue-600 shadow-sm focus:border-blue-300 focus:ring focus:ring-offset-0 focus:ring-blue-500/50;
        @apply float-left mt-1 align-top;
        margin-left: -1.5em;
    }
}

.submit-row {
    @apply pt-2;
}

select {
    @apply rounded-md border-gray-300 focus:ring focus:ring-blue-500 text-gray-900 placeholder-opacity-25 py-1 mr-2;
}

.form-row {
    input, textarea {
        @apply block w-full rounded-md border-gray-300 focus:ring focus:ring-blue-500 text-gray-900 placeholder-opacity-25;

        &:read-only {
            @apply bg-neutral-200 dark:bg-neutral-300;
        }
    }

    &:last-of-type {
        @apply mb-0;
    }
}

.form-group {
    @apply relative flex flex-wrap items-stretch w-full;
    input[type=text], input[type=email] {
        @apply rounded-r-none relative block;
        flex: 1 1 auto;
        width: 1%;
        min-width: 0;
    }
    button {
        @apply flex items-center rounded-r px-3 cursor-pointer border border-l-0;
        @apply bg-white          text-slate-700      border-slate-300        hover:bg-slate-100;
        @apply dark:bg-slate-700 dark:text-slate-200 dark:border-transparent dark:hover:bg-slate-600;
    }
}

.ping-container {
    @apply relative inline-flex rounded-md shadow-sm;
}
.ping-1 {
    @apply flex absolute h-3 w-3 top-0 right-0 -mt-1 -mr-1;
}
.ping-2 {
    @apply animate-ping absolute inline-flex h-full w-full rounded-full bg-green-300 opacity-75;
}
.ping-3 {
    @apply relative inline-flex rounded-full h-3 w-3 bg-green-400;
}
